@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-2">
        <span class="btn-white">.btn-white</span>
    </div>
    <div class="col-sm-2">
        <span class="btn-magenta">.btn-magenta</span>
    </div>
    <div class="col-sm-2">
        <span class="btn-teal">.btn-teal</span>
    </div>
    <div class="col-sm-2">
        <span class="btn-blue">.btn-blue</span>
    </div>
    <div class="col-sm-2">
        <span class="btn-green">.btn-green</span>
    </div>
    <div class="col-sm-2">
        <span class="btn-mint">.btn-mint</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <span class="btn-black">.btn-black</span>
    </div>

    <div class="col-sm-10"></div>
</div>